.container{
	width: 1000px;
	margin:0px auto;
}
.loginbar{
	height: 50px;
	background: #f8f7f7;
	padding-bottom: 5px;
	background: url(../img/xian.png)no-repeat 0 100%;
}
.loginbar .logo{
	margin-top:6px;
}
.loginbar .logo a{
	display: block;
	width: 86px;
	height: 36px;
	background: url(../img/logo.png) no-repeat 50% 0;
	border-right:1px solid #cecece;
	padding:0 14px;
}
.loginbar  .right{
	margin-right: 10px;
}
.money a{
	float:left;
	padding:0 10px;
	line-height:50px;
}
.money .icon{
	float:left;
	width:25px;
	height:24px;
	background:url(../img/cyou_sprite.png) no-repeat;
	margin-top:11px; 
	margin-right:5px;
}
 .money .a1{
	 background-position: -138px 0;
}
 .money .a2{
	 background-position: -189px 0;
}
 .money .a3{
	 background-position: 0px -104px;
}
.service li{ 
float:left;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
height:50px;
line-height:50px;
margin-left:-1px;
padding: 0 20px;
}
.banner{
	height:551px;
	background:url(../img/header_main.jpg) no-repeat;
	position:relative;
}
.logo1{ padding-left:5px;}
.logo1 a{
	display:block;
	width:186px;
	height:110px;
	background:url(../img/logo.gif) no-repeat 50% 50%;
}
.list{
	margin-top:38px;
}
.list a{
	display:block;
	padding:0 13px;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.list a span{ display:block;}
.hot{
	position:absolute;
	width:31px;
	height:122px;
	background:url(../img/hot.PNG) no-repeat;
	left:0;
	top:245px;
}
.content{
	background:url(../img/content.jpg) no-repeat;
}
.download_left{
	width:617px;
	height:108px;
	background:url(../img/sprite.jpg) no-repeat;
}
.download_left a{
	float:left;
	height:108px;
}
.down_1{
	width:215px;
}
.down_1:hover{
	background:url(../img/sprite.jpg) no-repeat 0 -110px;
}
.down_2,.down_3,.down_4,.down_5{
	width:100px;
}
.down_2:hover{
	background:url(../img/sprite.jpg) no-repeat -215px -110px;
}
.down_3:hover{
	background:url(../img/sprite.jpg) no-repeat -315px -110px;
}
.down_4:hover{
	background:url(../img/sprite.jpg) no-repeat -415px -110px;
}
.down_5:hover{
	background:url(../img/sprite.jpg) no-repeat -515px -110px;
}
.download_right{
	width:383px;
}
.sever{
	width:277px;
	height:45px;
	background:url(../img/sever.png) no-repeat;
	margin: 0 auto;
	padding-left:84px;
	padding-top:10px;
	margin-top:7px;
}
.sever a{
	display:block;
	margin-bottom:6px;
	color:#fff;
}
.sever a span{ color:red;}
.text{
	margin-left: 2px;
	height:43px;
	background:url(../img/sprite.jpg) no-repeat 0 -220px;
	margin-top:4px;
	line-height:43px;
	color:#fff;
}
.text span a{
	color:red;
	text-decoration:underline;
}
.text div  span{
	margin-right:20px;
}
.text div a{
	width:40px;
	height:43px;
}
.content .lbt{
	position: relative;
}
.lbt{
	border:1px solid #443b4f;
}
.lbt .gf,.lbt .mt{
	position: absolute;
	width: 27px;
	height: 63px;
	background: url(../img/slider_h_main.png) no-repeat;
	top: 10px;
	left: 11px;
}
.lbt .mt{
	background: url(../img/slider_h_media.png);
	top: 83px;
}
.lbt .mt:hover{

	background: url(../img/slider_media.png);
}
.lbq li{
	float: left;
	width: 15px;
	height: 15px;
	background: #3a3e47;
	border-radius: 50%;
	margin-right: 3px;
}
.lbq .active{
	background: #d0290a;
}
.lbq li:hover{
	background: #d0290a;
}
.lbt .lbq{
	position: absolute;
	top: 278px;
	left: 518px;
}
.lbt .ms{
	background: #322e3f;
	height: 303px;
	width: 382px;
}
.ms .xxk{
	background: url(../img/sprite.jpg) no-repeat;
	height: 57px;
	width: 381px;
	background-position:0px -262px;
}
.xxk a{
	float: left;
	font-size: 14px;
	color: #fff;
	width: 95px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	font-weight: bold;
}
.ms .xxk .xxk1:hover{
	width: 95px;
	height: 55px;
	background: url(../img/sprite.jpg) no-repeat 0px -323px;
}
.ms .xxk .xxk2:hover,.ms .xxk .xxk3:hover,.ms .xxk .xxk4:hover{
	width: 95px;
	height: 55px;
	background: url(../img/sprite.jpg) no-repeat -94px -323px;
}
.ms .hengl{
	width: 347px;
	height: 34px;
	background:url(../img/sprite.jpg) no-repeat 0px -378px;
	color: #bb350e;
	font:bold 15px/34px "微软雅黑";
	text-align: center;
	margin-left: 18px;
	margin-top: 17px;
}
.lb li{
	color: #9ca7ca;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}
.lb{
	margin-top: 10px;
	margin-left:18px;
}
.lb a{
	color: #9ca7ca;
	width: 303px;
}
.gdxx{
	color: #9ca7ca;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	width: 13px;
	height: 13px;
	background: url(../img/more.jpg) no-repeat;
	padding-left: 19px;
	margin-left: 296px;
}
.szt{
	margin-top: 32px;
}
.szt a{
	float: left;
	border:1px solid #433b4f;
	margin-right:8px; 
}
.szt .ln{
	margin-right: 0px;
}
.zhanshi{
	margin-top: 30px;
}
.zhanshi .zuo{
	border:1px solid #433b4f;
}
.zhanshi .zhangshi1{
	display: block;
	width: 656px;
	height: 58px;
	background: url(../img/sprite.jpg) no-repeat 0px -412px;
}
.zhanshi .dazhangshi{
	display: block;
	width: 656px;
	height: 287px;
	background: url(../img/zhanshi.jpg) no-repeat;
}
.zhangshi1 .fl{
	width: 131px;
	height: 58px;
}
.zhangshi1 .fl1:hover{
	background: url(../img/sprite.jpg) no-repeat 0px -471px;
}
.zhangshi1 .fl2:hover{
	background: url(../img/sprite.jpg) no-repeat -131px -471px;
}
.zhangshi1 .fl3:hover{
	background: url(../img/sprite.jpg) no-repeat -262px -471px;
}
.zhangshi1 .fl4:hover{
	background: url(../img/sprite.jpg) no-repeat -393px -471px;
}
.zhangshi1 .fl5:hover{
	background: url(../img/sprite.jpg) no-repeat -524px -471px;
}
.zhanshi .you{
	width: 322px;
	margin-left: 20px;
}
.you .you1{
	line-height: 33px;
}
.you1 span{
	width: 26px;
	height: 30px;
	background: url(../img/sprite.jpg) no-repeat -630px 2px;
}
.you1 h2{
	color: #f3ca90;
	font-size: 19px;
	font-weight: bold;
	margin-left: 14px;
}
.you .nws{
	position: relative;
	margin-top: 18px;
	display: block;
	width: 319px;
	height: 149px;
	background: url(../img/1.jpg) no-repeat;
	border:1px solid #433b4f;
	margin-bottom: 10px;
}
.nws b{
	position: absolute;
	font-size: 14px;
	line-height: 36px;
	padding-left:5px;
	color: #fff;
	width: 314px;
	height: 36px;
	bottom: 0px;

	font-weight: bold;
}
.nws span{
	position: absolute;
	width: 319px;
	height: 36px;
	bottom: 0px;
	background: black;
	font-weight: bold;
	opacity: 0.5;
	filter: alpha(opacity:50);
}
.you .xlb{
	display: block;
	width: 291px;
	height: 25px;
	color: #a6b2d8;
	line-height: 25px;
	font-weight: bold;
	background: url(../img/sprite.jpg) no-repeat 0px -530px;
	padding-left:28px;
	margin-bottom: 3px;

}
.you .xlb span{
	padding-right: 9px;
}
.neirongxia{
	background: url(../img/bg.jpg);
	margin-top: 28px;
}

.zcbl .tu1{
	width: 173px;
	height: 187px;
	background: url(../img/sprite.jpg) no-repeat 0px -556px;
	margin-bottom: 24px;
	overflow: hidden;
	padding-left:23px;
	padding-right: 19px;
}
.zcbl .tu2{
	width: 215px;
	height: 262px;
	background: url(../img/main_a3.jpg) no-repeat;
}
.zcbl .tu3{
	width: 205px;
	height: 36px;
	background: url(../img/sprite.jpg) no-repeat -451px -273px;
	margin-top: 5px;
	margin-bottom: 38px;
	margin-left: 6px;
	color: #b1a1ca;
	font-size: 17px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
}
.zcbl .tu4{
	width: 183px;
	height: 287px;
	background: url(../img/examen.jpg) no-repeat 0px -18px;
}

.tu1 h3{
	text-align: center;
	color: #dbca90;
	font-size: 16px;
	font-weight: bold;
	margin-top: 14px;
	margin-bottom: 34px;
}
.tu1 a{
	width: 87px;
	float: left;
	color: #9587ab;
	font-weight: bold;
	font-size: 14px;
	margin-right: -3px;
	margin-bottom: 14px;
}
.neirongxia .zhong{
	overflow: hidden;
}
.ycbls{
	margin-bottom: 40px;
}
.ycbls1{
	margin-bottom: 14px;
}
.ycbls1 .wx{
	width: 35px;
	height: 25px;
	background: url(../img/sprite.jpg) no-repeat -613px -352px;
}
.ycbls1 h3{
	color: #f6c98e;
	font-size: 19px;
	line-height: 25px;
	margin-left: 9px;
	
}
.wjgl1 a{
	width: 104px;
	height: 46px;
	line-height: 46px;
	color: #a295b7;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	border-left: 1px solid #433b4f;
	border-bottom: 1px solid #433b4f;
	border-top: 1px solid #433b4f;
}
.wjgl2{
	width: 422px;
	height: 256px;
	background: #322b3c;
	border:1px solid #433b4f;
	border-top: none;
	margin-top: -1px;

}
.wjgl1 .active{
	background: #322b3c;
	border-bottom: 0;

}
.wjgl1 .ln{
	width: 108px;
	height: 47px;
	border-top: none;
	border-right: none;
	border-bottom:1px solid #433b4f;
	background: url(../img/more.jpg) no-repeat 16px 16px;
}
.wjgl2 .wjgl22{
	width: 105px;
	height: 197px;
	background: url(../img/wj.jpg);
	border:1px solid #433b4f;
	margin-top: 23px;
	margin-left: 15px;
}
.wjgl2 li a{
	font-weight: bold;
	color: #a295b7;
	font-size: 12px;
	margin-bottom: 12px;
	display: block;
}
.wjgl2 ul{
	margin-top: 28px;
	margin-left: 18px;
}
.neirongxia .zhong{
	margin-left: 20px;
}
.ycbls1 .ws{
	width: 34px;
	height: 24px;
	background: url(../img/sprite.jpg) no-repeat -619px -384px;
}
.wjgl2 .wjgl23{
	width: 107px;
	height: 199px;
	background: url(../img/1031.jpg);
	border:1px solid #433b4f;
	margin-top: 23px;
	margin-left: 15px;
}
.zuiyou{
	width: 322px;
}
.ycbls1 .sbb{
	width: 22px;
	height: 26px;
	background: url(../img/sprite.jpg) no-repeat -631px -42px;
}
.zuiyou1{
	width: 286px;
	height: 303px;
	border:1px solid #433b4f;
	padding:0px 17px;
	overflow: hidden;
}
.zuiyou1 li{
	border-bottom: 1px dashed #433b4f;
	padding:15px 0px;

}
.zuiyou1 .active{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: #594f67;
	padding:8px;
	margin-right: 20px;
}
.zuiyou1 a{
	color: #8a7d9e;
	font-size: 14px;
	border-right:1px solid #594f67;
	margin-top: 8px;
}
.zuiyou1 .ln{
	border:none;
}
.zuiyou1 .lnn{
	border:none;
	padding-bottom: 6px;
}
.zuiyou1 .zlz{
	display: block;
	width: 279px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	
	font-size: 22px;
	font-weight: bold;
	margin: 0px;

}
.zuiyou1 .zlzt{
	padding:0px;
	border: 3px solid #4b3f5c;
}
div.ycblsmf,div.wjgl2mf{
	width: 320px;
}
div.wjgl2mf{
	height: 254px;
}
div.ycblsmf{
	margin-top: 37px;
}
.ycblsmf .xp{
	width: 30px;
	height: 28px;
	background: url(../img/sprite.jpg) no-repeat -626px -80px;
}
.wjgl2mf li{
	float: left;
}
.wjgl2mf a{

	width: 137px;
	height: 90px;
	margin-bottom: 23px;
	margin-left: -7px;
	margin-right: 22px;
}
.wjgl2mf .xp1{
	background: url(../img/3.jpg);
}
.wjgl2mf .xp2{
	background: url(../img/2.jpg);
	margin-right: 0px;
}
.wjgl2mf .xp3{
	background: url(../img/5.jpg);
}
.wjgl2mf .xp4{
	background: url(../img/4.jpg);
	margin-right: 0px;
}
.ggt .gg{
	width: 893px;
	height: 30px;
	color:#908c9b; 
	font-size:15px;
	text-align: center;
	line-height: 45px;
	background: url(../img/game_anc.jpg);
	margin-left: 56px;
	font-weight: bold;
}
.ggt .p1{
	width: 885px;
	color:#908c9b; 
	font-size:15px;
	
	margin-left: 56px;
	font-weight: bold;
	line-height: 31px;
}
.ggt .p2{
	width: 885px;
	color:#908c9b; 
	font-size:15px;
	text-align: center;
	margin-left: 56px;
	font-weight: bold;
	line-height: 31px;
	margin-bottom: 41px;
}
.ggt{
	height: 137px;
	background: url(../img/xxx.png) no-repeat 0px 100%;
}
.foot{
	width: 1000px;
	height: 100px;
	background: url(../img/foot.png);
}
